PORT=6060
MONGO_URI="mongodb+srv://trumbot:trumbot@cluster0.cfkaeno.mongodb.net/?retryWrites=true&w=majority"
TELEGRAM_TOKEN="6383263721:AAE_AQPKZnKiWmhT2GGiuWREnJj_kj-ktao"
# PUPPETEER_EXECUTABLE_PATH=/snap/bin/chromium
